<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<footer th:fragment="footer" >
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p  class="text-muted">---------------------------------------------------------------------</p>
        <small class="lead text-muted ">Privacy Policy :: Contact &copy; 2023 Affable Bean</small><br><br><br><br>
      </div>
        <div class="col-md-6"></div>

    </div>
  </div>
</footer>
</body>
</html>